<div class="bg bg-signup">
  <div class="module">
    <ul>
      <li class="tab activeTab"><img src="https://i.imgur.com/Fk1Urva.png" alt="" class="icon"/></li>
      <li class="tab "><img src="https://i.imgur.com/Fk1Urva.png" alt="" class="icon"/></li>
      <li class="tab"><img src="https://i.imgur.com/Fk1Urva.png" alt="" class="icon"/></li>
      <li class="tab"><img src="https://i.imgur.com/Fk1Urva.png" alt="" class="icon"/></li>
    </ul>

  <div class="form">
    <%= form_for(@user, url: signup_path) do |f| %>
    <%= render 'shared/error_messages' %>
      <%= f.label :username%>
      <%= f.text_field :username , class: "textbox form-control" %>

      <%= f.label :password %>
      <%= f.password_field :password, class: "textbox form-control" %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation , class: "textbox form-control"%>

      <%= f.submit "Create my account", class: "r-button" %>
    <% end %>
    <p>Aready have an account? <%= link_to "Login!", login_path %></p>
</div>
</div>
</div>